In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
from io import StringIO

In [3]:
termdeposit = pd.read_csv("D:/Documents/MASTERS/SEMESTER 1.2/BFE7204 Lab II Financial Analytics and Big Data in Finance/datasets/term_deposit_datset.csv", sep=';')

In [4]:
termdeposit.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
termdeposit.isnull()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45207,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45208,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45209,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
45210,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [6]:
termdeposit.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [7]:
termdeposit.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [8]:

# Encode categorical columns using .astype('category').cat.codes
categorical_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'month', 'poutcome', 'contact', 'y']

for col in categorical_cols:
    termdeposit[col] = termdeposit[col].astype('category').cat.codes

In [9]:
termdeposit.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0

In [10]:
termdeposit.dtypes

age          int64
job           int8
marital       int8
education     int8
default       int8
balance      int64
housing       int8
loan          int8
contact       int8
day          int64
month         int8
duration     int64
campaign     int64
pdays        int64
previous     int64
poutcome      int8
y             int8
dtype: object

In [11]:
x=termdeposit.drop(['y'], axis=1).values

In [12]:
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)

In [13]:
y = termdeposit['y'].values

In [14]:
x_train, x_test, y_train, y_test,=train_test_split(x,y, test_size=0.2, random_state=100)

In [15]:
models = {
    "Logistic Regression": LogisticRegression(solver='lbfgs', max_iter=2000, C=0.1),
    "Decision Tree": DecisionTreeClassifier(),
    "Random Forest": RandomForestClassifier(),
    "Gradient Boosting": GradientBoostingClassifier(),
    "SVM": SVC(),
    "KNN": KNeighborsClassifier(),
    "Naive Bayes": GaussianNB(),
    "ADA": AdaBoostClassifier(),
    "BC": BaggingClassifier()
}

# Train and predict using each model
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_test, y_pred)
    print(f"{name}: Accuracy = {accuracy:.6f}")

Logistic Regression: Accuracy = 0.887316
Decision Tree: Accuracy = 0.874931
Random Forest: Accuracy = 0.904125
Gradient Boosting: Accuracy = 0.902908
SVM: Accuracy = 0.884994
KNN: Accuracy = 0.878691
Naive Bayes: Accuracy = 0.836448
ADA: Accuracy = 0.896937
BC: Accuracy = 0.897932

In [16]:
for name, model in models.items():
    model.fit(x_train, y_train)
    y_pred = model.predict(x_test)
    classification = classification_report(y_test, y_pred)
    print(f"{name}\n{classification}\n")

Logistic Regression
              precision    recall  f1-score   support

           0       0.90      0.98      0.94      8004
           1       0.53      0.19      0.28      1039

    accuracy                           0.89      9043
   macro avg       0.71      0.58      0.61      9043
weighted avg       0.86      0.89      0.86      9043


Decision Tree
              precision    recall  f1-score   support

           0       0.93      0.92      0.93      8004
           1       0.45      0.48      0.47      1039

    accuracy                           0.87      9043
   macro avg       0.69      0.70      0.70      9043
weighted avg       0.88      0.87      0.88      9043


Random Forest
              precision    recall  f1-score   support

           0       0.93      0.97      0.95      8004
           1       0.64      0.43      0.51      1039

    accuracy                           0.91      9043
   macro avg       0.78      0.70      0.73      9043
weighted avg       0.90      0.91      0.90      9043


Gradient Boosting
              precision    recall  f1-score   support

           0       0.93      0.97      0.95      8004
           1       0.62      0.41      0.49      1039

    accuracy                           0.90      9043
   macro avg       0.77      0.69      0.72      9043
weighted avg       0.89      0.90      0.89      9043


SVM
              precision    recall  f1-score   support

           0       0.89      1.00      0.94      8004
           1       0.48      0.01      0.02      1039

    accuracy                           0.88      9043
   macro avg       0.68      0.50      0.48      9043
weighted avg       0.84      0.88      0.83      9043


KNN
              precision    recall  f1-score   support

           0       0.91      0.96      0.93      8004
           1       0.45      0.27      0.34      1039

    accuracy                           0.88      9043
   macro avg       0.68      0.61      0.63      9043
weighted avg       0.86      0.88      0.86      9043


Naive Bayes
              precision    recall  f1-score   support

           0       0.92      0.89      0.91      8004
           1       0.34      0.44      0.38      1039

    accuracy                           0.84      9043
   macro avg       0.63      0.67      0.65      9043
weighted avg       0.86      0.84      0.85      9043


ADA
              precision    recall  f1-score   support

           0       0.92      0.97      0.94      8004
           1       0.59      0.34      0.43      1039

    accuracy                           0.90      9043
   macro avg       0.75      0.66      0.69      9043
weighted avg       0.88      0.90      0.88      9043


BC
              precision    recall  f1-score   support

           0       0.93      0.96      0.94      8004
           1       0.57      0.41      0.48      1039

    accuracy                           0.90      9043
   macro avg       0.75      0.68      0.71      9043
weighted avg       0.89      0.90      0.89      9043